{% extends "layout.html" %}

{% block body %}

    <div class="row">

		<div class="col-sm-6">
            <h1>Temperature</h1>
            <figure >
                <embed type="image/svg+xml" src="/barchart/temp/day"/>
            </figure>
            <p />
            <h1>PIR Detection</h1>
            <figure >
                <embed type="image/svg+xml" src="/barchart/pir/day"/>
            </figure>
		</div>
        <div class="col-sm-6">
            <h1>Humidity</h1>
            <figure >
            <embed type="image/svg+xml" src="/barchart/humidity/day"/>
            </figure>
            <p />
            <h1>Variable Resistor</h1>
            <figure >
                <embed type="image/svg+xml" src="/barchart/var/day"/>
            </figure>
        </div>

        <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <h1>Hello, {{ user.nickname}} </h1>
        </div>
    </div>
{% endblock %}