sudo apt-get install python-virtualenv git
virtualenv venv
source venv/bin/activate
pip install flask

wget https://bitbucket.org/pypa/setuptools/raw/bootstrap/ez_setup.py
sudo sh setuptools-0.6c11-py2.7.egg
sudo python ez_setup.py user
sudo easy_install pyserial
sudo apt-get install arduino
sudo apt-get install git
sudo python ez_setup.py user
sudo easy_install nanpy
sudo python ~/pi/nanpy/setup.py develop

git clone https://github.com/nanpy/nanpy.git
git clone https://github.com/nanpy/nanpy-firmware.git


https://github.com/nanpy/nanpy
https://pypi.python.org/pypi/nanpy/

Plug your Arduino Uno into a spare port on the Raspberry Pi. Beware: the following takes some time!
cd nanpy/firmware
export BOARD=uno
make
make upload


Let’s first ensure Nanpy is properly installed and the connection between Pi and Arduino is working. From your home folder (cd ~), type the following into the terminal:
nano nanpy_test.py
In the nano editor, simply write:
from nanpy imort Arduino

python nanpy_test.py


Samba Share:
sudo apt-get install samba samba-common-bin


